[submodule "mod-data-import-converter-storage"]
	path = mod-data-import-converter-storage
	url = git@github.com:folio-org/mod-data-import-converter-storage.git
[submodule "mod-inventory-storage"]
	path = mod-inventory-storage
	url = https://github.com/folio-org/mod-inventory-storage.git
[submodule "mod-organizations-storage"]
	path = mod-organizations-storage
	url = https://github.com/folio-org/mod-organizations-storage.git
[submodule "mod-users"]
	path = mod-users
	url = https://github.com/folio-org/mod-users.git
[submodule "mod-circulation"]
	path = mod-circulation
	url = https://github.com/folio-org/mod-circulation.git
[submodule "mod-notes"]
	path = mod-notes
	url = https://github.com/folio-org/mod-notes.git
[submodule "mod-feesfines"]
	path = mod-feesfines
	url = https://github.com/folio-org/mod-feesfines.git
[submodule "mod-user-import"]
	path = mod-user-import
	url = https://github.com/folio-org/mod-user-import.git
[submodule "mod-orders"]
	path = mod-orders
	url = git@github.com:folio-org/mod-orders.git
