[submodule "data-import-raml-storage"]
	path = data-import-raml-storage
	url = https://github.com/folio-org/data-import-raml-storage.git
[submodule "mod-inventory-storage"]
	path = mod-inventory-storage
	url = https://github.com/folio-org/mod-inventory-storage.git
[submodule "mod-users"]
	path = mod-users
	url = https://github.com/folio-org/mod-users.git
